<a href="https://colab.research.google.com/github/haneeth25/Pyspark_prac/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=b146495eb83df4200aa19f7215eb960347a1e4f6d056678ad077aba273cf3bf5
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark import SparkConf, SparkContext

In [3]:
conf = SparkConf().setAppName('Learning')
sc = SparkContext().getOrCreate(conf = conf)

#Creating a textfile

In [13]:
# Open a file in write mode
with open('example.txt', 'w') as f:
    f.write('1 2 3 4 5\n')
    f.write('6 7 8 9 10\n')
    f.write('11 12 13 14 15\n')
    f.write('16 17 18 19 20\n')

In [14]:
with open('example.txt', 'r') as f:
  data = f.read()
  print(data)

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20

#Map

In [15]:
rdd = sc.textFile("example.txt")

In [16]:
rdd.collect()

['1 2 3 4 5', '6 7 8 9 10', '11 12 13 14 15', '16 17 18 19 20']

In [17]:
res = rdd.map(lambda x:x.split(' '))
res.collect()

[['1', '2', '3', '4', '5'],
 ['6', '7', '8', '9', '10'],
 ['11', '12', '13', '14', '15'],
 ['16', '17', '18', '19', '20']]

In [18]:
def add_data(x):
  l = x.split(" ")
  r = []
  for each in l:
    r.append(each+' hello')
  return r
res = rdd.map(add_data)
res.collect()

[['1 hello', '2 hello', '3 hello', '4 hello', '5 hello'],
 ['6 hello', '7 hello', '8 hello', '9 hello', '10 hello'],
 ['11 hello', '12 hello', '13 hello', '14 hello', '15 hello'],
 ['16 hello', '17 hello', '18 hello', '19 hello', '20 hello']]

In [19]:
with open('example.txt', 'w') as f:
    f.write('Hi How are you\n')
    f.write('Hope you are doing good\n')
    f.write('great\n')

In [20]:
def find_len(x):
  l = x.split(' ')
  r = ''
  for each in l:
    r = r + str(len(each))+' '
  return r[:-1]
res = rdd.map(find_len)
res.collect()

['2 3 3 3', '4 3 3 5 4', '5']

In [21]:
rdd.collect()

['Hi How are you', 'Hope you are doing good', 'great']

#RDD groupbykey

In [22]:
with open('example.txt', 'w') as f:
    f.write('This mango company animal\n')
    f.write('cat dog ant mic laptop\n')
    f.write('mango any alarm ant\n')

In [23]:
rdd_flat_map = rdd.flatMap(lambda x:x.split(' '))

In [24]:
rdd_map = rdd_flat_map.map(lambda x:(x,len(x)))

In [26]:
rdd_map.collect()

[('This', 4),
 ('mango', 5),
 ('company', 7),
 ('animal', 6),
 ('cat', 3),
 ('dog', 3),
 ('ant', 3),
 ('mic', 3),
 ('laptop', 6),
 ('mango', 5),
 ('any', 3),
 ('alarm', 5),
 ('ant', 3)]

In [29]:
rdd_groupByKey = rdd_map.groupByKey()
rdd_groupByKey.mapValues(list).collect()

[('mango', [5, 5]),
 ('cat', [3]),
 ('ant', [3, 3]),
 ('laptop', [6]),
 ('This', [4]),
 ('company', [7]),
 ('animal', [6]),
 ('dog', [3]),
 ('mic', [3]),
 ('any', [3]),
 ('alarm', [5])]

#reduceByKey

In [30]:
rdd_reduceByKey = rdd_map.reduceByKey(lambda x,y:x+y)
rdd_reduceByKey.collect()

[('mango', 10),
 ('cat', 3),
 ('ant', 6),
 ('laptop', 6),
 ('This', 4),
 ('company', 7),
 ('animal', 6),
 ('dog', 3),
 ('mic', 3),
 ('any', 3),
 ('alarm', 5)]

In [31]:
rdd_flat_map.countByValue()

defaultdict(int,
            {'This': 1,
             'mango': 2,
             'company': 1,
             'animal': 1,
             'cat': 1,
             'dog': 1,
             'ant': 2,
             'mic': 1,
             'laptop': 1,
             'any': 1,
             'alarm': 1})

In [32]:
!wget https://raw.githubusercontent.com/haneeth25/Libraries_prac/main/Student_performance_data%20_.csv

--2024-07-25 04:20:30--  https://raw.githubusercontent.com/haneeth25/Libraries_prac/main/Student_performance_data%20_.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 166901 (163K) [text/plain]
Saving to: ‘Student_performance_data _.csv’

Student_performance 100%[===================>] 162.99K  --.-KB/s    in 0.007s

2024-07-25 04:20:30 (24.3 MB/s) - ‘Student_performance_data _.csv’ saved [166901/166901]

#Spark sql

In [34]:
from pyspark import SparkContext

In [51]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("YourAppName") \
    .enableHiveSupport() \
    .getOrCreate()

In [52]:
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [109]:
df = spark.read.option("header",True).csv("/content/Student_performance_data.csv")
#df.show()
df.printSchema()

root
 |-- StudentID: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Ethnicity: string (nullable = true)
 |-- ParentalEducation: string (nullable = true)
 |-- StudyTimeWeekly: string (nullable = true)
 |-- Absences: string (nullable = true)
 |-- Tutoring: string (nullable = true)
 |-- ParentalSupport: string (nullable = true)
 |-- Extracurricular: string (nullable = true)
 |-- Sports: string (nullable = true)
 |-- Music: string (nullable = true)
 |-- Volunteering: string (nullable = true)
 |-- GPA: string (nullable = true)
 |-- GradeClass: string (nullable = true)

In [117]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
s = StructType(
    [
        StructField('StudentID',IntegerType(),False),
        StructField('Age',StringType(),False),
        StructField('Gender',StringType(),False),
        StructField('Ethnicity',StringType(),False),
        StructField('ParentalEducation',StringType(),False),
        StructField('StudyTimeWeekly',StringType(),False),
        StructField('Absences',StringType(),False),
        StructField('Tutoring',StringType(),False),
        StructField('ParentalSupport',StringType(),False),
        StructField('Extracurricular',StringType(),False),
        StructField('Sports',StringType(),False),
        StructField('Music',StringType(),False),
        StructField('Volunteering',StringType(),False),
        StructField('GPA',StringType(),False),
        #StructField('GradeClass',StringType(),False),
    ]
)

In [118]:
df = spark.read.options(header='True').schema(s).csv("/content/Student_performance_data.csv")

In [119]:
df.printSchema()

root
 |-- StudentID: integer (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Ethnicity: string (nullable = true)
 |-- ParentalEducation: string (nullable = true)
 |-- StudyTimeWeekly: string (nullable = true)
 |-- Absences: string (nullable = true)
 |-- Tutoring: string (nullable = true)
 |-- ParentalSupport: string (nullable = true)
 |-- Extracurricular: string (nullable = true)
 |-- Sports: string (nullable = true)
 |-- Music: string (nullable = true)
 |-- Volunteering: string (nullable = true)
 |-- GPA: string (nullable = true)

In [120]:
df = spark.read.options(inferSchema = 'True',header='True').csv("/content/Student_performance_data.csv")

In [121]:
df.show()

+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+
|StudentID|Age|Gender|Ethnicity|ParentalEducation|   StudyTimeWeekly|Absences|Tutoring|ParentalSupport|Extracurricular|Sports|Music|Volunteering|               GPA|GradeClass|
+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+
|     1001| 17|     1|        0|                2|19.833722807854713|       7|       1|              2|              0|     0|    1|           0| 2.929195591667681|       2.0|
|     1002| 18|     0|        0|                1| 15.40875605584674|       0|       0|              1|              0|     0|    0|           0| 3.042914833436377|       1.0|
|     1003| 15|     0|        2|                3|  4.21056976881226|      26|       0|              2|              0|     0|    0|           0|0.1126022544661815|       4.0|
|     1004| 17|     1|        0|                3|10.028829473958215|      14|       0|              3|              1|     0|    0|           0|2.0542181397029484|       3.0|
|     1005| 17|     1|        0|                2|4.6724952729713305|      17|       1|              3|              0|     0|    0|           0|1.2880611817953875|       4.0|
|     1006| 18|     0|        0|                1| 8.191218545250186|       0|       0|              1|              1|     0|    0|           0|3.0841836144863937|       1.0|
|     1007| 15|     0|        1|                1|15.601680474699295|      10|       0|              3|              0|     1|    0|           0| 2.748237414891583|       2.0|
|     1008| 15|     1|        1|                4|15.424496305808074|      22|       1|              1|              1|     0|    0|           0| 1.360142712316461|       4.0|
|     1009| 17|     0|        0|                0| 4.562007558047703|       1|       0|              2|              0|     1|    0|           1| 2.896819189513569|       2.0|
|     1010| 16|     1|        0|                1|18.444466363097202|       0|       0|              3|              1|     0|    0|           0|3.5734742103297656|       0.0|
|     1011| 17|     0|        0|                1|11.851363655296536|      11|       0|              1|              0|     0|    0|           0|2.1471716250185144|       3.0|
|     1012| 17|     0|        0|                1|  7.59848581924029|      15|       0|              2|              0|     0|    0|           1|1.5595945190402773|       4.0|
|     1013| 17|     0|        1|                1|10.038711615617213|      21|       0|              3|              1|     0|    0|           0| 1.520077814874808|       4.0|
|     1014| 17|     0|        1|                2|12.101425068754875|      21|       0|              4|              0|     1|    0|           0|1.7515809583340785|       4.0|
|     1015| 18|     1|        0|                1|11.197810636915708|       9|       1|              2|              0|     0|    0|           0| 2.396788117124796|       3.0|
|     1016| 15|     0|        0|                2| 9.728100710723563|      17|       1|              0|              0|     1|    0|           0|1.3415207165346672|       4.0|
|     1017| 18|     0|        3|                1|10.098656081788002|      14|       0|              2|              1|     1|    0|           0|2.2321752777159762|       3.0|
|     1018| 18|     1|        0|                0|3.5282382085577235|      16|       1|              2|              0|     0|    0|           0|1.3844041756940335|       4.0|
|     1019| 18|     0|        1|                3| 16.25465808609359|      29|       0|              2|              1|     0|    0|           1|0.4695533233798704|       4.0|
|     1020| 17|     0|        0|                1|10.835206398820308|       9|       0|              2|              0|     0|    1|           0|2.3957840945306996|       3.0|
+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+
only showing top 20 rows

In [50]:
df.createOrReplaceTempView('students');

In [ ]:
with cte as(select GradeClass,AVG(GPA) from students groupby GradeClass)
select * from students s , cte e left join on e.GradeClass = s.GradeClass;

In [139]:
spark.sql('with cte as(select GradeClass,AVG(GPA) as avg_gpa from students group by GradeClass) select s.*,e.avg_gpa from students s left join cte e on e.GradeClass = s.GradeClass').show()

+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+------------------+
|StudentID|Age|Gender|Ethnicity|ParentalEducation|   StudyTimeWeekly|Absences|Tutoring|ParentalSupport|Extracurricular|Sports|Music|Volunteering|               GPA|GradeClass|           avg_gpa|
+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+------------------+
|     1001| 17|     1|        0|                2|19.833722807854713|       7|       1|              2|              0|     0|    1|           0| 2.929195591667681|       2.0|2.6597418990482273|
|     1002| 18|     0|        0|                1| 15.40875605584674|       0|       0|              1|              0|     0|    0|           0| 3.042914833436377|       1.0|3.0016730360731767|
|     1003| 15|     0|        2|                3|  4.21056976881226|      26|       0|              2|              0|     0|    0|           0|0.1126022544661815|       4.0|1.2080414095081404|
|     1004| 17|     1|        0|                3|10.028829473958215|      14|       0|              3|              1|     0|    0|           0|2.0542181397029484|       3.0|2.2155449029723635|
|     1005| 17|     1|        0|                2|4.6724952729713305|      17|       1|              3|              0|     0|    0|           0|1.2880611817953875|       4.0|1.2080414095081404|
|     1006| 18|     0|        0|                1| 8.191218545250186|       0|       0|              1|              1|     0|    0|           0|3.0841836144863937|       1.0|3.0016730360731767|
|     1007| 15|     0|        1|                1|15.601680474699295|      10|       0|              3|              0|     1|    0|           0| 2.748237414891583|       2.0|2.6597418990482273|
|     1008| 15|     1|        1|                4|15.424496305808074|      22|       1|              1|              1|     0|    0|           0| 1.360142712316461|       4.0|1.2080414095081404|
|     1009| 17|     0|        0|                0| 4.562007558047703|       1|       0|              2|              0|     1|    0|           1| 2.896819189513569|       2.0|2.6597418990482273|
|     1010| 16|     1|        0|                1|18.444466363097202|       0|       0|              3|              1|     0|    0|           0|3.5734742103297656|       0.0|3.1029417770600856|
|     1011| 17|     0|        0|                1|11.851363655296536|      11|       0|              1|              0|     0|    0|           0|2.1471716250185144|       3.0|2.2155449029723635|
|     1012| 17|     0|        0|                1|  7.59848581924029|      15|       0|              2|              0|     0|    0|           1|1.5595945190402773|       4.0|1.2080414095081404|
|     1013| 17|     0|        1|                1|10.038711615617213|      21|       0|              3|              1|     0|    0|           0| 1.520077814874808|       4.0|1.2080414095081404|
|     1014| 17|     0|        1|                2|12.101425068754875|      21|       0|              4|              0|     1|    0|           0|1.7515809583340785|       4.0|1.2080414095081404|
|     1015| 18|     1|        0|                1|11.197810636915708|       9|       1|              2|              0|     0|    0|           0| 2.396788117124796|       3.0|2.2155449029723635|
|     1016| 15|     0|        0|                2| 9.728100710723563|      17|       1|              0|              0|     1|    0|           0|1.3415207165346672|       4.0|1.2080414095081404|
|     1017| 18|     0|        3|                1|10.098656081788002|      14|       0|              2|              1|     1|    0|           0|2.2321752777159762|       3.0|2.2155449029723635|
|     1018| 18|     1|        0|                0|3.5282382085577235|      16|       1|              2|              0|     0|    0|           0|1.3844041756940335|       4.0|1.2080414095081404|
|     1019| 18|     0|        1|                3| 16.25465808609359|      29|       0|              2|              1|     0|    0|           1|0.4695533233798704|       4.0|1.2080414095081404|
|     1020| 17|     0|        0|                1|10.835206398820308|       9|       0|              2|              0|     0|    1|           0|2.3957840945306996|       3.0|2.2155449029723635|
+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+------------------+
only showing top 20 rows

In [136]:
result_df = spark.sql('''
    WITH cte AS (
        SELECT GradeClass, AVG(GPA) AS AvgGPA
        FROM students
        GROUP BY GradeClass
    )
    SELECT s.*, cte.AvgGPA
    FROM students s
    LEFT JOIN cte ON s.GradeClass = cte.GradeClass
''')

# Show the result
result_df.show()

+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+------------------+
|StudentID|Age|Gender|Ethnicity|ParentalEducation|   StudyTimeWeekly|Absences|Tutoring|ParentalSupport|Extracurricular|Sports|Music|Volunteering|               GPA|GradeClass|            AvgGPA|
+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+------------------+
|     1001| 17|     1|        0|                2|19.833722807854713|       7|       1|              2|              0|     0|    1|           0| 2.929195591667681|       2.0|2.6597418990482273|
|     1002| 18|     0|        0|                1| 15.40875605584674|       0|       0|              1|              0|     0|    0|           0| 3.042914833436377|       1.0|3.0016730360731767|
|     1003| 15|     0|        2|                3|  4.21056976881226|      26|       0|              2|              0|     0|    0|           0|0.1126022544661815|       4.0|1.2080414095081404|
|     1004| 17|     1|        0|                3|10.028829473958215|      14|       0|              3|              1|     0|    0|           0|2.0542181397029484|       3.0|2.2155449029723635|
|     1005| 17|     1|        0|                2|4.6724952729713305|      17|       1|              3|              0|     0|    0|           0|1.2880611817953875|       4.0|1.2080414095081404|
|     1006| 18|     0|        0|                1| 8.191218545250186|       0|       0|              1|              1|     0|    0|           0|3.0841836144863937|       1.0|3.0016730360731767|
|     1007| 15|     0|        1|                1|15.601680474699295|      10|       0|              3|              0|     1|    0|           0| 2.748237414891583|       2.0|2.6597418990482273|
|     1008| 15|     1|        1|                4|15.424496305808074|      22|       1|              1|              1|     0|    0|           0| 1.360142712316461|       4.0|1.2080414095081404|
|     1009| 17|     0|        0|                0| 4.562007558047703|       1|       0|              2|              0|     1|    0|           1| 2.896819189513569|       2.0|2.6597418990482273|
|     1010| 16|     1|        0|                1|18.444466363097202|       0|       0|              3|              1|     0|    0|           0|3.5734742103297656|       0.0|3.1029417770600856|
|     1011| 17|     0|        0|                1|11.851363655296536|      11|       0|              1|              0|     0|    0|           0|2.1471716250185144|       3.0|2.2155449029723635|
|     1012| 17|     0|        0|                1|  7.59848581924029|      15|       0|              2|              0|     0|    0|           1|1.5595945190402773|       4.0|1.2080414095081404|
|     1013| 17|     0|        1|                1|10.038711615617213|      21|       0|              3|              1|     0|    0|           0| 1.520077814874808|       4.0|1.2080414095081404|
|     1014| 17|     0|        1|                2|12.101425068754875|      21|       0|              4|              0|     1|    0|           0|1.7515809583340785|       4.0|1.2080414095081404|
|     1015| 18|     1|        0|                1|11.197810636915708|       9|       1|              2|              0|     0|    0|           0| 2.396788117124796|       3.0|2.2155449029723635|
|     1016| 15|     0|        0|                2| 9.728100710723563|      17|       1|              0|              0|     1|    0|           0|1.3415207165346672|       4.0|1.2080414095081404|
|     1017| 18|     0|        3|                1|10.098656081788002|      14|       0|              2|              1|     1|    0|           0|2.2321752777159762|       3.0|2.2155449029723635|
|     1018| 18|     1|        0|                0|3.5282382085577235|      16|       1|              2|              0|     0|    0|           0|1.3844041756940335|       4.0|1.2080414095081404|
|     1019| 18|     0|        1|                3| 16.25465808609359|      29|       0|              2|              1|     0|    0|           1|0.4695533233798704|       4.0|1.2080414095081404|
|     1020| 17|     0|        0|                1|10.835206398820308|       9|       0|              2|              0|     0|    1|           0|2.3957840945306996|       3.0|2.2155449029723635|
+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+------------------+
only showing top 20 rows

In [63]:
from pyspark.sql.functions import sum,avg,max,min,mean,count
avg_df = df.groupby("GradeClass").agg(avg('GPA').alias('AvgGpa'))
avg_df.show()

+----------+------------------+
|GradeClass|            AvgGpa|
+----------+------------------+
|       0.0|3.1029417770600856|
|       1.0|3.0016730360731767|
|       4.0|1.2080414095081404|
|       3.0|2.2155449029723635|
|       2.0|2.6597418990482273|
+----------+------------------+

In [85]:
res = avg_df.filter(avg_df['GradeClass'] == 0.0).select("AvgGpa").collect()

In [77]:
res = res.collect()

In [86]:
res[0]['AvgGpa']

3.1029417770600856

In [90]:
from pyspark.sql.functions import udf,col;
from pyspark.sql.types import DoubleType

In [122]:
def avg(x):
  print(x)
  res = avg_df.filter(avg_df['GradeClass'] == x).select("AvgGpa").collect()
  return res[0]['AvgGpa']

In [123]:
avg_df_col = udf(lambda x:avg(x),DoubleType())

In [128]:
df.show()
avg_df.show()

+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+
|StudentID|Age|Gender|Ethnicity|ParentalEducation|   StudyTimeWeekly|Absences|Tutoring|ParentalSupport|Extracurricular|Sports|Music|Volunteering|               GPA|GradeClass|
+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+
|     1001| 17|     1|        0|                2|19.833722807854713|       7|       1|              2|              0|     0|    1|           0| 2.929195591667681|       2.0|
|     1002| 18|     0|        0|                1| 15.40875605584674|       0|       0|              1|              0|     0|    0|           0| 3.042914833436377|       1.0|
|     1003| 15|     0|        2|                3|  4.21056976881226|      26|       0|              2|              0|     0|    0|           0|0.1126022544661815|       4.0|
|     1004| 17|     1|        0|                3|10.028829473958215|      14|       0|              3|              1|     0|    0|           0|2.0542181397029484|       3.0|
|     1005| 17|     1|        0|                2|4.6724952729713305|      17|       1|              3|              0|     0|    0|           0|1.2880611817953875|       4.0|
|     1006| 18|     0|        0|                1| 8.191218545250186|       0|       0|              1|              1|     0|    0|           0|3.0841836144863937|       1.0|
|     1007| 15|     0|        1|                1|15.601680474699295|      10|       0|              3|              0|     1|    0|           0| 2.748237414891583|       2.0|
|     1008| 15|     1|        1|                4|15.424496305808074|      22|       1|              1|              1|     0|    0|           0| 1.360142712316461|       4.0|
|     1009| 17|     0|        0|                0| 4.562007558047703|       1|       0|              2|              0|     1|    0|           1| 2.896819189513569|       2.0|
|     1010| 16|     1|        0|                1|18.444466363097202|       0|       0|              3|              1|     0|    0|           0|3.5734742103297656|       0.0|
|     1011| 17|     0|        0|                1|11.851363655296536|      11|       0|              1|              0|     0|    0|           0|2.1471716250185144|       3.0|
|     1012| 17|     0|        0|                1|  7.59848581924029|      15|       0|              2|              0|     0|    0|           1|1.5595945190402773|       4.0|
|     1013| 17|     0|        1|                1|10.038711615617213|      21|       0|              3|              1|     0|    0|           0| 1.520077814874808|       4.0|
|     1014| 17|     0|        1|                2|12.101425068754875|      21|       0|              4|              0|     1|    0|           0|1.7515809583340785|       4.0|
|     1015| 18|     1|        0|                1|11.197810636915708|       9|       1|              2|              0|     0|    0|           0| 2.396788117124796|       3.0|
|     1016| 15|     0|        0|                2| 9.728100710723563|      17|       1|              0|              0|     1|    0|           0|1.3415207165346672|       4.0|
|     1017| 18|     0|        3|                1|10.098656081788002|      14|       0|              2|              1|     1|    0|           0|2.2321752777159762|       3.0|
|     1018| 18|     1|        0|                0|3.5282382085577235|      16|       1|              2|              0|     0|    0|           0|1.3844041756940335|       4.0|
|     1019| 18|     0|        1|                3| 16.25465808609359|      29|       0|              2|              1|     0|    0|           1|0.4695533233798704|       4.0|
|     1020| 17|     0|        0|                1|10.835206398820308|       9|       0|              2|              0|     0|    1|           0|2.3957840945306996|       3.0|
+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+----------+
only showing top 20 rows

+----------+------------------+
|GradeClass|            AvgGpa|
+----------+------------------+
|       0.0|3.1029417770600856|
|       1.0|3.0016730360731767|
|       4.0|1.2080414095081404|
|       3.0|2.2155449029723635|
|       2.0|2.6597418990482273|
+----------+------------------+

In [129]:
df.join(avg_df,'GradeClass','left').show()

+----------+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+------------------+
|GradeClass|StudentID|Age|Gender|Ethnicity|ParentalEducation|   StudyTimeWeekly|Absences|Tutoring|ParentalSupport|Extracurricular|Sports|Music|Volunteering|               GPA|            AvgGpa|
+----------+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+------------------+
|       2.0|     1001| 17|     1|        0|                2|19.833722807854713|       7|       1|              2|              0|     0|    1|           0| 2.929195591667681|2.6597418990482273|
|       1.0|     1002| 18|     0|        0|                1| 15.40875605584674|       0|       0|              1|              0|     0|    0|           0| 3.042914833436377|3.0016730360731767|
|       4.0|     1003| 15|     0|        2|                3|  4.21056976881226|      26|       0|              2|              0|     0|    0|           0|0.1126022544661815|1.2080414095081404|
|       3.0|     1004| 17|     1|        0|                3|10.028829473958215|      14|       0|              3|              1|     0|    0|           0|2.0542181397029484|2.2155449029723635|
|       4.0|     1005| 17|     1|        0|                2|4.6724952729713305|      17|       1|              3|              0|     0|    0|           0|1.2880611817953875|1.2080414095081404|
|       1.0|     1006| 18|     0|        0|                1| 8.191218545250186|       0|       0|              1|              1|     0|    0|           0|3.0841836144863937|3.0016730360731767|
|       2.0|     1007| 15|     0|        1|                1|15.601680474699295|      10|       0|              3|              0|     1|    0|           0| 2.748237414891583|2.6597418990482273|
|       4.0|     1008| 15|     1|        1|                4|15.424496305808074|      22|       1|              1|              1|     0|    0|           0| 1.360142712316461|1.2080414095081404|
|       2.0|     1009| 17|     0|        0|                0| 4.562007558047703|       1|       0|              2|              0|     1|    0|           1| 2.896819189513569|2.6597418990482273|
|       0.0|     1010| 16|     1|        0|                1|18.444466363097202|       0|       0|              3|              1|     0|    0|           0|3.5734742103297656|3.1029417770600856|
|       3.0|     1011| 17|     0|        0|                1|11.851363655296536|      11|       0|              1|              0|     0|    0|           0|2.1471716250185144|2.2155449029723635|
|       4.0|     1012| 17|     0|        0|                1|  7.59848581924029|      15|       0|              2|              0|     0|    0|           1|1.5595945190402773|1.2080414095081404|
|       4.0|     1013| 17|     0|        1|                1|10.038711615617213|      21|       0|              3|              1|     0|    0|           0| 1.520077814874808|1.2080414095081404|
|       4.0|     1014| 17|     0|        1|                2|12.101425068754875|      21|       0|              4|              0|     1|    0|           0|1.7515809583340785|1.2080414095081404|
|       3.0|     1015| 18|     1|        0|                1|11.197810636915708|       9|       1|              2|              0|     0|    0|           0| 2.396788117124796|2.2155449029723635|
|       4.0|     1016| 15|     0|        0|                2| 9.728100710723563|      17|       1|              0|              0|     1|    0|           0|1.3415207165346672|1.2080414095081404|
|       3.0|     1017| 18|     0|        3|                1|10.098656081788002|      14|       0|              2|              1|     1|    0|           0|2.2321752777159762|2.2155449029723635|
|       4.0|     1018| 18|     1|        0|                0|3.5282382085577235|      16|       1|              2|              0|     0|    0|           0|1.3844041756940335|1.2080414095081404|
|       4.0|     1019| 18|     0|        1|                3| 16.25465808609359|      29|       0|              2|              1|     0|    0|           1|0.4695533233798704|1.2080414095081404|
|       3.0|     1020| 17|     0|        0|                1|10.835206398820308|       9|       0|              2|              0|     0|    1|           0|2.3957840945306996|2.2155449029723635|
+----------+---------+---+------+---------+-----------------+------------------+--------+--------+---------------+---------------+------+-----+------------+------------------+------------------+
only showing top 20 rows